#content-container {

  width:100% ;
  background-color: beige;

}

#content-left {
  float:left;
  width:25% ;
  height:100%;
  background-color: violet;

}

#content-right {
  float:left ;
  width:75% ;
  height:100% ;
  background-color: beige;
  overflow-y:auto ;
  overflow-x:hidden ;
}